.PartnerMessage {
  width: 45%;
  background-color: transparent;
  color: black;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
.chat-avatar {
  display: flex;
  color: white;
  align-self: center;
  margin-right: 10px;
  border-radius: 20px;
}

.chat-header {
  display: flex;
}