@import '../../assets/scss/variables';

#navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: $success;
    padding: 0 10px;

    h2 {
        display: flex;
        align-self: center;
        color: white;
    }

    .fa-icon {
        color: white;
        margin-left: 5px;
    }

    #profile-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: relative;
        cursor: pointer;

        p {
            display: flex;
            align-self: center;
            color: white;
        }

        .avatar {
            display: flex;
            color: white;
            align-self: center;
            margin-right: 5px;
            border-radius: 20px;
        }

        #profile-options {
            position: absolute;
            top: 50px;
            border-radius: 5px;
            padding: 0 5px;
            right: 5px;
            border: 1px solid #d9d9d9;
            background-color: white;
            z-index: 9999;

            p {
                margin: 10px 5px;
                color: black;
            }
        }

        form {
            .input-field {

                input,
                select {
                    height: 40px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }

        .btn-success {
            background-color: $success;
            border: none;
            padding: 5px;
            width: 70px;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
        }
    }
}

#image-section {
    // background-color: $bg-light;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 20px;
    // border-bottom-left-radius: 0;

    @media (min-width: 800px) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

    img {
        max-height: 80px;
        max-width: 100%;
    }
}

.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}